.loginlogo{ width:1200px; margin:0 auto; padding:20px 0 40px 0;}
.loginlogo span{ float:right; margin-top:20px;}
.loginlogo span  h1{padding-left:20px; font-size:13px; text-align:left; float:left;}
.loginmain{ width:100%; height:530px; margin:0 auto;border-bottom:1px solid #eeede5;border-top:1px solid #eeede5; padding-top:50px;background: #fefef4;}
.loginm{width:1200px; margin:0 auto; text-align: left;}
.loginleft{width:525px; height:380px; background:url(/images/login.jpg); margin:0 auto; float: left;}
.loginForm{width:480px; height:380px;padding-top: 90px; float: right;}
.loginForm .lable{padding-top:50px;}
.loginForm input{width:250px; height:33px; border:1px solid #aaa9a3; line-height:35px; border-radius:3px; padding:2px 5px; color:#aeaeae; }
.loginForm .input1{ background:url(images/ico-jt.png) no-repeat 5px -1080px #fff;}
.loginForm .input3{ background:#fff; height:35px; border:1px solid #aaa9a3; line-height:35px; border-radius:3px; padding:0 0 0 2px; color:#aeaeae;}

.loginForm p{ height:35px; padding:10px 0;}
.loginForm .anniu{ width:120px; height:35px; background:#ff8522; color:#fff; border:1px solid #ff8522; border-radius:3px; font-size:16px;margin-left:100px;}
.loginForm em{ float:right; padding:0 88px 0 0;}

.bottomlogin,.registration,.registration-xieyi{ width:1200px; margin:0 auto;}
.bottomlogin h1{ height:50px; line-height:50px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; font-size:14px; background:url(../images/ico-jt.png) no-repeat right -934px; margin-top:50px; color:#eee;}
.bottomlogin h1 a{ margin:0 20px;}
.bottomlogin h1 span{ float:right;}
.bottomlogin h2{margin-top:10px; text-align:right; font-size:15px;}