@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;font-family:"微软雅黑"; font-size:14px;}
ul{ list-style-type:none;}

a{ text-decoration:none;}
body{ background-color:rgba(0,0,0,0.6);}
.center{ width:482px; height:656px; background:url(/images/phone.png) no-repeat top right; margin:60px auto 0;position:relative;}
dl{width:120px; height:84px; border-radius:10px;padding-top:78px;}
.image_text{background-color:white; border-radius:0 0 2px 2px; color:balck;}
.main_body{  background-color:#46b54a; border-radius:2px 2px 0 0;color:white;}
dl a{ display:block;width:136px; height:46px;text-decoration:none;color:#000; text-align:center; line-height:46px;}
.close{margin-top:244px;}
.send-phone{ margin-bottom:10px}
.close a{border-radius:2px;display:block;width:136px; height:46px;text-decoration:none;color:#000; text-align:center; line-height:46px; background-color:white; }
.phone_content{ width:287px; height:509px; position:absolute; right:17px; top:77px; background-color:#f3f3f3; }
.top_nav{height:40px; background-color:#323232; text-align:center; line-height:40px; color:white;}
.content{width:256px; height:438px; border:1px #e8e8eb solid; margin:15px auto; background-color:white; overflow-y:scroll; overflow-x:hidden;}
.content1{width:256px; height:438px; border:1px #e8e8eb solid; margin:15px auto; background-color:white;}
.content ul{ margin-bottom:50px;}
.content li{ margin-bottom:10px; margin-left:10px; margin-top:5px;}
.content1 ul{ margin-bottom:50px;}
.content1 li{ margin-bottom:10px; margin-left:10px; margin-top:5px;}
.time{color:#959595; font-size:12px; }
.time span{ color:#4c6bab;font-size:12px;}
.text{color:#4e4f4e;}
.title{color:#4e4f4e;}
.line{ width:238px; height:1px ; background-color:#e8e8eb;}
.next{ height:38px; width:238px; background:url(/images/change.png) no-repeat right 5px;}
.next a{ color:#1d221d;}


.white_content{ display:none;position:absolute;top:78px;left:0;width:500px;padding:0 0;background-color:#fffef5;z-index:10;border-radius:10px;}
.white_content .close03{ text-align:left; padding:10px 0 10px 30px; background:#46b54a; color:#fff; font-size:18px; border-radius:10px 10px 0 0;}
.white_content .nr02{border-bottom:1px #ccc solid;}
.white_content .nr02 .nr-box{ width:404px; margin:70px auto; }
.white_content .nr02 h1{ font-size:14px; color:#666; font-weight:normal;}
.white_content .nr02 p{ font-size:14px; color:#999;}
.white_content .nr02 input{ width:404px; height:30px;margin:8px 0; border:1px #cccccc solid; color:#999999; text-indent:10px;}
.white_content .kqanniu01{ width:100%; margin:0 auto; text-align:center; margin-top:20px; padding:0 0 30px;}
.white_content .kqanniu01 a{ float:right;color:white; border-radius:4px; font-size:16px; width:110px; height:36px; line-height:36px;margin-right:20px; margin-bottom:20px}