<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qhjys.mall.mapper.LotteryDishMapper" >
  <resultMap id="BaseResultMap" type="cn.qhjys.mall.entity.LotteryDish" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="lottery_id" property="lotteryId" jdbcType="BIGINT" />
    <result column="rank_level" property="rankLevel" jdbcType="INTEGER" />
    <result column="dish_name" property="dishName" jdbcType="VARCHAR" />
    <result column="dish_image" property="dishImage" jdbcType="VARCHAR" />
    <result column="dish_info" property="dishInfo" jdbcType="VARCHAR" />
    <result column="limit_num" property="limitNum" jdbcType="INTEGER" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lottery_id, rank_level, dish_name, dish_image, dish_info, limit_num, begin_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.qhjys.mall.entity.LotteryDishExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lottery_dish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from lottery_dish
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lottery_dish
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.qhjys.mall.entity.LotteryDishExample" >
    delete from lottery_dish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.qhjys.mall.entity.LotteryDish" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lottery_dish (lottery_id, rank_level, dish_name, 
      dish_image, dish_info, limit_num, 
      begin_time)
    values (#{lotteryId,jdbcType=BIGINT}, #{rankLevel,jdbcType=INTEGER}, #{dishName,jdbcType=VARCHAR}, 
      #{dishImage,jdbcType=VARCHAR}, #{dishInfo,jdbcType=VARCHAR}, #{limitNum,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.qhjys.mall.entity.LotteryDish" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into lottery_dish
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lotteryId != null" >
        lottery_id,
      </if>
      <if test="rankLevel != null" >
        rank_level,
      </if>
      <if test="dishName != null" >
        dish_name,
      </if>
      <if test="dishImage != null" >
        dish_image,
      </if>
      <if test="dishInfo != null" >
        dish_info,
      </if>
      <if test="limitNum != null" >
        limit_num,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lotteryId != null" >
        #{lotteryId,jdbcType=BIGINT},
      </if>
      <if test="rankLevel != null" >
        #{rankLevel,jdbcType=INTEGER},
      </if>
      <if test="dishName != null" >
        #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="dishImage != null" >
        #{dishImage,jdbcType=VARCHAR},
      </if>
      <if test="dishInfo != null" >
        #{dishInfo,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null" >
        #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.qhjys.mall.entity.LotteryDishExample" resultType="java.lang.Integer" >
    select count(*) from lottery_dish
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lottery_dish
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.lotteryId != null" >
        lottery_id = #{record.lotteryId,jdbcType=BIGINT},
      </if>
      <if test="record.rankLevel != null" >
        rank_level = #{record.rankLevel,jdbcType=INTEGER},
      </if>
      <if test="record.dishName != null" >
        dish_name = #{record.dishName,jdbcType=VARCHAR},
      </if>
      <if test="record.dishImage != null" >
        dish_image = #{record.dishImage,jdbcType=VARCHAR},
      </if>
      <if test="record.dishInfo != null" >
        dish_info = #{record.dishInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.limitNum != null" >
        limit_num = #{record.limitNum,jdbcType=INTEGER},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lottery_dish
    set id = #{record.id,jdbcType=BIGINT},
      lottery_id = #{record.lotteryId,jdbcType=BIGINT},
      rank_level = #{record.rankLevel,jdbcType=INTEGER},
      dish_name = #{record.dishName,jdbcType=VARCHAR},
      dish_image = #{record.dishImage,jdbcType=VARCHAR},
      dish_info = #{record.dishInfo,jdbcType=VARCHAR},
      limit_num = #{record.limitNum,jdbcType=INTEGER},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qhjys.mall.entity.LotteryDish" >
    update lottery_dish
    <set >
      <if test="lotteryId != null" >
        lottery_id = #{lotteryId,jdbcType=BIGINT},
      </if>
      <if test="rankLevel != null" >
        rank_level = #{rankLevel,jdbcType=INTEGER},
      </if>
      <if test="dishName != null" >
        dish_name = #{dishName,jdbcType=VARCHAR},
      </if>
      <if test="dishImage != null" >
        dish_image = #{dishImage,jdbcType=VARCHAR},
      </if>
      <if test="dishInfo != null" >
        dish_info = #{dishInfo,jdbcType=VARCHAR},
      </if>
      <if test="limitNum != null" >
        limit_num = #{limitNum,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qhjys.mall.entity.LotteryDish" >
    update lottery_dish
    set lottery_id = #{lotteryId,jdbcType=BIGINT},
      rank_level = #{rankLevel,jdbcType=INTEGER},
      dish_name = #{dishName,jdbcType=VARCHAR},
      dish_image = #{dishImage,jdbcType=VARCHAR},
      dish_info = #{dishInfo,jdbcType=VARCHAR},
      limit_num = #{limitNum,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>