<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qhjys.mall.mapper.MsAuthenticationMapper" >
  <resultMap id="BaseResultMap" type="cn.qhjys.mall.entity.MsAuthentication" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="bank_sq_name" property="bankSqName" jdbcType="VARCHAR" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="bank_app_id" property="bankAppId" jdbcType="VARCHAR" />
    <result column="auth_paydir" property="authPaydir" jdbcType="VARCHAR" />
    <result column="wx_category_id" property="wxCategoryId" jdbcType="VARCHAR" />
    <result column="zfb_category_id" property="zfbCategoryId" jdbcType="VARCHAR" />
    <result column="service_phone" property="servicePhone" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="contact_mobile" property="contactMobile" jdbcType="VARCHAR" />
    <result column="contact_email" property="contactEmail" jdbcType="VARCHAR" />
    <result column="contact_type" property="contactType" jdbcType="VARCHAR" />
    <result column="contact_id_card_no" property="contactIdCardNo" jdbcType="VARCHAR" />
    <result column="province_code" property="provinceCode" jdbcType="VARCHAR" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="address_type" property="addressType" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="business_license" property="businessLicense" jdbcType="VARCHAR" />
    <result column="business_license_type" property="businessLicenseType" jdbcType="VARCHAR" />
    <result column="bank_info_id" property="bankInfoId" jdbcType="BIGINT" />
    <result column="logon_id" property="logonId" jdbcType="VARCHAR" />
    <result column="pay_code_info" property="payCodeInfo" jdbcType="VARCHAR" />
    <result column="chnl_type" property="chnlType" jdbcType="VARCHAR" />
    <result column="wei_xin_channel_id" property="weiXinChannelId" jdbcType="VARCHAR" />
    <result column="subscribe_appid" property="subscribeAppid" jdbcType="VARCHAR" />
    <result column="contact_wechatid" property="contactWechatid" jdbcType="VARCHAR" />
    <result column="accept_flag" property="acceptFlag" jdbcType="VARCHAR" />
    <result column="bank_accept_appid" property="bankAcceptAppid" jdbcType="VARCHAR" />
    <result column="request_no" property="requestNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_id, store_id, bank_sq_name, alias_name, bank_app_id, auth_paydir, wx_category_id, 
    zfb_category_id, service_phone, contact_name, contact_phone, contact_mobile, contact_email, 
    contact_type, contact_id_card_no, province_code, city_code, area_code, address_type, address, 
    business_license, business_license_type, bank_info_id, logon_id, pay_code_info, chnl_type, 
    wei_xin_channel_id, subscribe_appid, contact_wechatid, accept_flag, bank_accept_appid, 
    request_no, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ms_authentication
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="listByAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_authentication
  </select>
  <select id="findByStoreId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ms_authentication
    where store_id = #{storeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ms_authentication
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.qhjys.mall.entity.MsAuthentication" >
    insert into ms_authentication (seller_id, store_id, 
      bank_sq_name, alias_name, bank_app_id, 
      auth_paydir, wx_category_id, zfb_category_id, 
      service_phone, contact_name, contact_phone, 
      contact_mobile, contact_email, contact_type, 
      contact_id_card_no, province_code, city_code, 
      area_code, address_type, address, 
      business_license, business_license_type, bank_info_id, 
      logon_id, pay_code_info, chnl_type, 
      wei_xin_channel_id, subscribe_appid, contact_wechatid, 
      accept_flag, bank_accept_appid, request_no, 
      create_time)
    values (#{sellerId,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, 
      #{bankSqName,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, #{bankAppId,jdbcType=VARCHAR}, 
      #{authPaydir,jdbcType=VARCHAR}, #{wxCategoryId,jdbcType=VARCHAR}, #{zfbCategoryId,jdbcType=VARCHAR}, 
      #{servicePhone,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}, 
      #{contactMobile,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR}, #{contactType,jdbcType=VARCHAR}, 
      #{contactIdCardNo,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, 
      #{areaCode,jdbcType=VARCHAR}, #{addressType,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{businessLicense,jdbcType=VARCHAR}, #{businessLicenseType,jdbcType=VARCHAR}, #{bankInfoId,jdbcType=BIGINT}, 
      #{logonId,jdbcType=VARCHAR}, #{payCodeInfo,jdbcType=VARCHAR}, #{chnlType,jdbcType=VARCHAR}, 
      #{weiXinChannelId,jdbcType=VARCHAR}, #{subscribeAppid,jdbcType=VARCHAR}, #{contactWechatid,jdbcType=VARCHAR}, 
      #{acceptFlag,jdbcType=VARCHAR}, #{bankAcceptAppid,jdbcType=VARCHAR}, #{requestNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.qhjys.mall.entity.MsAuthentication" >
    insert into ms_authentication
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="bankSqName != null" >
        bank_sq_name,
      </if>
      <if test="aliasName != null" >
        alias_name,
      </if>
      <if test="bankAppId != null" >
        bank_app_id,
      </if>
      <if test="authPaydir != null" >
        auth_paydir,
      </if>
      <if test="wxCategoryId != null" >
        wx_category_id,
      </if>
      <if test="zfbCategoryId != null" >
        zfb_category_id,
      </if>
      <if test="servicePhone != null" >
        service_phone,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="contactMobile != null" >
        contact_mobile,
      </if>
      <if test="contactEmail != null" >
        contact_email,
      </if>
      <if test="contactType != null" >
        contact_type,
      </if>
      <if test="contactIdCardNo != null" >
        contact_id_card_no,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="addressType != null" >
        address_type,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="businessLicense != null" >
        business_license,
      </if>
      <if test="businessLicenseType != null" >
        business_license_type,
      </if>
      <if test="bankInfoId != null" >
        bank_info_id,
      </if>
      <if test="logonId != null" >
        logon_id,
      </if>
      <if test="payCodeInfo != null" >
        pay_code_info,
      </if>
      <if test="chnlType != null" >
        chnl_type,
      </if>
      <if test="weiXinChannelId != null" >
        wei_xin_channel_id,
      </if>
      <if test="subscribeAppid != null" >
        subscribe_appid,
      </if>
      <if test="contactWechatid != null" >
        contact_wechatid,
      </if>
      <if test="acceptFlag != null" >
        accept_flag,
      </if>
      <if test="bankAcceptAppid != null" >
        bank_accept_appid,
      </if>
      <if test="requestNo != null" >
        request_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="bankSqName != null" >
        #{bankSqName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="bankAppId != null" >
        #{bankAppId,jdbcType=VARCHAR},
      </if>
      <if test="authPaydir != null" >
        #{authPaydir,jdbcType=VARCHAR},
      </if>
      <if test="wxCategoryId != null" >
        #{wxCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="zfbCategoryId != null" >
        #{zfbCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null" >
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null" >
        #{contactType,jdbcType=VARCHAR},
      </if>
      <if test="contactIdCardNo != null" >
        #{contactIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null" >
        #{addressType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseType != null" >
        #{businessLicenseType,jdbcType=VARCHAR},
      </if>
      <if test="bankInfoId != null" >
        #{bankInfoId,jdbcType=BIGINT},
      </if>
      <if test="logonId != null" >
        #{logonId,jdbcType=VARCHAR},
      </if>
      <if test="payCodeInfo != null" >
        #{payCodeInfo,jdbcType=VARCHAR},
      </if>
      <if test="chnlType != null" >
        #{chnlType,jdbcType=VARCHAR},
      </if>
      <if test="weiXinChannelId != null" >
        #{weiXinChannelId,jdbcType=VARCHAR},
      </if>
      <if test="subscribeAppid != null" >
        #{subscribeAppid,jdbcType=VARCHAR},
      </if>
      <if test="contactWechatid != null" >
        #{contactWechatid,jdbcType=VARCHAR},
      </if>
      <if test="acceptFlag != null" >
        #{acceptFlag,jdbcType=VARCHAR},
      </if>
      <if test="bankAcceptAppid != null" >
        #{bankAcceptAppid,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qhjys.mall.entity.MsAuthentication" >
    update ms_authentication
    <set >
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="bankSqName != null" >
        bank_sq_name = #{bankSqName,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="bankAppId != null" >
        bank_app_id = #{bankAppId,jdbcType=VARCHAR},
      </if>
      <if test="authPaydir != null" >
        auth_paydir = #{authPaydir,jdbcType=VARCHAR},
      </if>
      <if test="wxCategoryId != null" >
        wx_category_id = #{wxCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="zfbCategoryId != null" >
        zfb_category_id = #{zfbCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null" >
        service_phone = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactMobile != null" >
        contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null" >
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="contactType != null" >
        contact_type = #{contactType,jdbcType=VARCHAR},
      </if>
      <if test="contactIdCardNo != null" >
        contact_id_card_no = #{contactIdCardNo,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="addressType != null" >
        address_type = #{addressType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessLicense != null" >
        business_license = #{businessLicense,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseType != null" >
        business_license_type = #{businessLicenseType,jdbcType=VARCHAR},
      </if>
      <if test="bankInfoId != null" >
        bank_info_id = #{bankInfoId,jdbcType=BIGINT},
      </if>
      <if test="logonId != null" >
        logon_id = #{logonId,jdbcType=VARCHAR},
      </if>
      <if test="payCodeInfo != null" >
        pay_code_info = #{payCodeInfo,jdbcType=VARCHAR},
      </if>
      <if test="chnlType != null" >
        chnl_type = #{chnlType,jdbcType=VARCHAR},
      </if>
      <if test="weiXinChannelId != null" >
        wei_xin_channel_id = #{weiXinChannelId,jdbcType=VARCHAR},
      </if>
      <if test="subscribeAppid != null" >
        subscribe_appid = #{subscribeAppid,jdbcType=VARCHAR},
      </if>
      <if test="contactWechatid != null" >
        contact_wechatid = #{contactWechatid,jdbcType=VARCHAR},
      </if>
      <if test="acceptFlag != null" >
        accept_flag = #{acceptFlag,jdbcType=VARCHAR},
      </if>
      <if test="bankAcceptAppid != null" >
        bank_accept_appid = #{bankAcceptAppid,jdbcType=VARCHAR},
      </if>
      <if test="requestNo != null" >
        request_no = #{requestNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qhjys.mall.entity.MsAuthentication" >
    update ms_authentication
    set seller_id = #{sellerId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      bank_sq_name = #{bankSqName,jdbcType=VARCHAR},
      alias_name = #{aliasName,jdbcType=VARCHAR},
      bank_app_id = #{bankAppId,jdbcType=VARCHAR},
      auth_paydir = #{authPaydir,jdbcType=VARCHAR},
      wx_category_id = #{wxCategoryId,jdbcType=VARCHAR},
      zfb_category_id = #{zfbCategoryId,jdbcType=VARCHAR},
      service_phone = #{servicePhone,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      contact_mobile = #{contactMobile,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      contact_type = #{contactType,jdbcType=VARCHAR},
      contact_id_card_no = #{contactIdCardNo,jdbcType=VARCHAR},
      province_code = #{provinceCode,jdbcType=VARCHAR},
      city_code = #{cityCode,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      address_type = #{addressType,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      business_license = #{businessLicense,jdbcType=VARCHAR},
      business_license_type = #{businessLicenseType,jdbcType=VARCHAR},
      bank_info_id = #{bankInfoId,jdbcType=BIGINT},
      logon_id = #{logonId,jdbcType=VARCHAR},
      pay_code_info = #{payCodeInfo,jdbcType=VARCHAR},
      chnl_type = #{chnlType,jdbcType=VARCHAR},
      wei_xin_channel_id = #{weiXinChannelId,jdbcType=VARCHAR},
      subscribe_appid = #{subscribeAppid,jdbcType=VARCHAR},
      contact_wechatid = #{contactWechatid,jdbcType=VARCHAR},
      accept_flag = #{acceptFlag,jdbcType=VARCHAR},
      bank_accept_appid = #{bankAcceptAppid,jdbcType=VARCHAR},
      request_no = #{requestNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>