<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qhjys.mall.mapper.SysTaskMapper" >
  <resultMap id="BaseResultMap" type="cn.qhjys.mall.entity.SysTask" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="project" property="project" jdbcType="VARCHAR" />
    <result column="task_type" property="taskType" jdbcType="TINYINT" />
    <result column="task_level" property="taskLevel" jdbcType="TINYINT" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="task_total" property="taskTotal" jdbcType="INTEGER" />
    <result column="task_fulfil" property="taskFulfil" jdbcType="INTEGER" />
    <result column="fulfil_reward" property="fulfilReward" jdbcType="DECIMAL" />
    <result column="unfulfil_reward" property="unfulfilReward" jdbcType="DECIMAL" />
    <result column="task_from" property="taskFrom" jdbcType="BIGINT" />
    <result column="staff" property="staff" jdbcType="VARCHAR" />
    <result column="verify_time" property="verifyTime" jdbcType="INTEGER" />
    <result column="appraise_rank" property="appraiseRank" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="appid" property="appid" jdbcType="VARCHAR" />
    <result column="secret" property="secret" jdbcType="VARCHAR" />
    <result column=" access_token" property="accessToken" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="seller_id" property="sellerId" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.qhjys.mall.entity.SysTask" extends="BaseResultMap" >
    <result column="task_content" property="taskContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, task_name, project, task_type, task_level, begin_time, end_time, task_total, 
    task_fulfil, fulfil_reward, unfulfil_reward, task_from, staff, verify_time, appraise_rank, 
    status, appid, secret, " access_token", create_time, seller_id
  </sql>
  <sql id="Blob_Column_List" >
    task_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.qhjys.mall.entity.SysTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.qhjys.mall.entity.SysTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.qhjys.mall.entity.SysTaskExample" >
    delete from sys_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.qhjys.mall.entity.SysTask" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_task (task_name, project, task_type, 
      task_level, begin_time, end_time, 
      task_total, task_fulfil, fulfil_reward, 
      unfulfil_reward, task_from, staff, 
      verify_time, appraise_rank, status, 
      appid, secret, " access_token", 
      create_time, seller_id, task_content
      )
    values (#{taskName,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, #{taskType,jdbcType=TINYINT}, 
      #{taskLevel,jdbcType=TINYINT}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{taskTotal,jdbcType=INTEGER}, #{taskFulfil,jdbcType=INTEGER}, #{fulfilReward,jdbcType=DECIMAL}, 
      #{unfulfilReward,jdbcType=DECIMAL}, #{taskFrom,jdbcType=BIGINT}, #{staff,jdbcType=VARCHAR}, 
      #{verifyTime,jdbcType=INTEGER}, #{appraiseRank,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, 
      #{appid,jdbcType=VARCHAR}, #{secret,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{sellerId,jdbcType=BIGINT}, #{taskContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.qhjys.mall.entity.SysTask" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="project != null" >
        project,
      </if>
      <if test="taskType != null" >
        task_type,
      </if>
      <if test="taskLevel != null" >
        task_level,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="taskTotal != null" >
        task_total,
      </if>
      <if test="taskFulfil != null" >
        task_fulfil,
      </if>
      <if test="fulfilReward != null" >
        fulfil_reward,
      </if>
      <if test="unfulfilReward != null" >
        unfulfil_reward,
      </if>
      <if test="taskFrom != null" >
        task_from,
      </if>
      <if test="staff != null" >
        staff,
      </if>
      <if test="verifyTime != null" >
        verify_time,
      </if>
      <if test="appraiseRank != null" >
        appraise_rank,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="appid != null" >
        appid,
      </if>
      <if test="secret != null" >
        secret,
      </if>
      <if test="accessToken != null" >
        " access_token",
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="sellerId != null" >
        seller_id,
      </if>
      <if test="taskContent != null" >
        task_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        #{taskType,jdbcType=TINYINT},
      </if>
      <if test="taskLevel != null" >
        #{taskLevel,jdbcType=TINYINT},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskTotal != null" >
        #{taskTotal,jdbcType=INTEGER},
      </if>
      <if test="taskFulfil != null" >
        #{taskFulfil,jdbcType=INTEGER},
      </if>
      <if test="fulfilReward != null" >
        #{fulfilReward,jdbcType=DECIMAL},
      </if>
      <if test="unfulfilReward != null" >
        #{unfulfilReward,jdbcType=DECIMAL},
      </if>
      <if test="taskFrom != null" >
        #{taskFrom,jdbcType=BIGINT},
      </if>
      <if test="staff != null" >
        #{staff,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null" >
        #{verifyTime,jdbcType=INTEGER},
      </if>
      <if test="appraiseRank != null" >
        #{appraiseRank,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        #{secret,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerId != null" >
        #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="taskContent != null" >
        #{taskContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.qhjys.mall.entity.SysTaskExample" resultType="java.lang.Integer" >
    select count(*) from sys_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.taskName != null" >
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.project != null" >
        project = #{record.project,jdbcType=VARCHAR},
      </if>
      <if test="record.taskType != null" >
        task_type = #{record.taskType,jdbcType=TINYINT},
      </if>
      <if test="record.taskLevel != null" >
        task_level = #{record.taskLevel,jdbcType=TINYINT},
      </if>
      <if test="record.beginTime != null" >
        begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null" >
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.taskTotal != null" >
        task_total = #{record.taskTotal,jdbcType=INTEGER},
      </if>
      <if test="record.taskFulfil != null" >
        task_fulfil = #{record.taskFulfil,jdbcType=INTEGER},
      </if>
      <if test="record.fulfilReward != null" >
        fulfil_reward = #{record.fulfilReward,jdbcType=DECIMAL},
      </if>
      <if test="record.unfulfilReward != null" >
        unfulfil_reward = #{record.unfulfilReward,jdbcType=DECIMAL},
      </if>
      <if test="record.taskFrom != null" >
        task_from = #{record.taskFrom,jdbcType=BIGINT},
      </if>
      <if test="record.staff != null" >
        staff = #{record.staff,jdbcType=VARCHAR},
      </if>
      <if test="record.verifyTime != null" >
        verify_time = #{record.verifyTime,jdbcType=INTEGER},
      </if>
      <if test="record.appraiseRank != null" >
        appraise_rank = #{record.appraiseRank,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.appid != null" >
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.secret != null" >
        secret = #{record.secret,jdbcType=VARCHAR},
      </if>
      <if test="record.accessToken != null" >
        " access_token" = #{record.accessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sellerId != null" >
        seller_id = #{record.sellerId,jdbcType=BIGINT},
      </if>
      <if test="record.taskContent != null" >
        task_content = #{record.taskContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_task
    set id = #{record.id,jdbcType=BIGINT},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      project = #{record.project,jdbcType=VARCHAR},
      task_type = #{record.taskType,jdbcType=TINYINT},
      task_level = #{record.taskLevel,jdbcType=TINYINT},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      task_total = #{record.taskTotal,jdbcType=INTEGER},
      task_fulfil = #{record.taskFulfil,jdbcType=INTEGER},
      fulfil_reward = #{record.fulfilReward,jdbcType=DECIMAL},
      unfulfil_reward = #{record.unfulfilReward,jdbcType=DECIMAL},
      task_from = #{record.taskFrom,jdbcType=BIGINT},
      staff = #{record.staff,jdbcType=VARCHAR},
      verify_time = #{record.verifyTime,jdbcType=INTEGER},
      appraise_rank = #{record.appraiseRank,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      appid = #{record.appid,jdbcType=VARCHAR},
      secret = #{record.secret,jdbcType=VARCHAR},
      " access_token" = #{record.accessToken,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      seller_id = #{record.sellerId,jdbcType=BIGINT},
      task_content = #{record.taskContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_task
    set id = #{record.id,jdbcType=BIGINT},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      project = #{record.project,jdbcType=VARCHAR},
      task_type = #{record.taskType,jdbcType=TINYINT},
      task_level = #{record.taskLevel,jdbcType=TINYINT},
      begin_time = #{record.beginTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      task_total = #{record.taskTotal,jdbcType=INTEGER},
      task_fulfil = #{record.taskFulfil,jdbcType=INTEGER},
      fulfil_reward = #{record.fulfilReward,jdbcType=DECIMAL},
      unfulfil_reward = #{record.unfulfilReward,jdbcType=DECIMAL},
      task_from = #{record.taskFrom,jdbcType=BIGINT},
      staff = #{record.staff,jdbcType=VARCHAR},
      verify_time = #{record.verifyTime,jdbcType=INTEGER},
      appraise_rank = #{record.appraiseRank,jdbcType=INTEGER},
      status = #{record.status,jdbcType=TINYINT},
      appid = #{record.appid,jdbcType=VARCHAR},
      secret = #{record.secret,jdbcType=VARCHAR},
      " access_token" = #{record.accessToken,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      seller_id = #{record.sellerId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qhjys.mall.entity.SysTask" >
    update sys_task
    <set >
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="project != null" >
        project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null" >
        task_type = #{taskType,jdbcType=TINYINT},
      </if>
      <if test="taskLevel != null" >
        task_level = #{taskLevel,jdbcType=TINYINT},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="taskTotal != null" >
        task_total = #{taskTotal,jdbcType=INTEGER},
      </if>
      <if test="taskFulfil != null" >
        task_fulfil = #{taskFulfil,jdbcType=INTEGER},
      </if>
      <if test="fulfilReward != null" >
        fulfil_reward = #{fulfilReward,jdbcType=DECIMAL},
      </if>
      <if test="unfulfilReward != null" >
        unfulfil_reward = #{unfulfilReward,jdbcType=DECIMAL},
      </if>
      <if test="taskFrom != null" >
        task_from = #{taskFrom,jdbcType=BIGINT},
      </if>
      <if test="staff != null" >
        staff = #{staff,jdbcType=VARCHAR},
      </if>
      <if test="verifyTime != null" >
        verify_time = #{verifyTime,jdbcType=INTEGER},
      </if>
      <if test="appraiseRank != null" >
        appraise_rank = #{appraiseRank,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="appid != null" >
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="secret != null" >
        secret = #{secret,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null" >
        " access_token" = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sellerId != null" >
        seller_id = #{sellerId,jdbcType=BIGINT},
      </if>
      <if test="taskContent != null" >
        task_content = #{taskContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.qhjys.mall.entity.SysTask" >
    update sys_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=TINYINT},
      task_level = #{taskLevel,jdbcType=TINYINT},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      task_total = #{taskTotal,jdbcType=INTEGER},
      task_fulfil = #{taskFulfil,jdbcType=INTEGER},
      fulfil_reward = #{fulfilReward,jdbcType=DECIMAL},
      unfulfil_reward = #{unfulfilReward,jdbcType=DECIMAL},
      task_from = #{taskFrom,jdbcType=BIGINT},
      staff = #{staff,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=INTEGER},
      appraise_rank = #{appraiseRank,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      appid = #{appid,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      " access_token" = #{accessToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      seller_id = #{sellerId,jdbcType=BIGINT},
      task_content = #{taskContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qhjys.mall.entity.SysTask" >
    update sys_task
    set task_name = #{taskName,jdbcType=VARCHAR},
      project = #{project,jdbcType=VARCHAR},
      task_type = #{taskType,jdbcType=TINYINT},
      task_level = #{taskLevel,jdbcType=TINYINT},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      task_total = #{taskTotal,jdbcType=INTEGER},
      task_fulfil = #{taskFulfil,jdbcType=INTEGER},
      fulfil_reward = #{fulfilReward,jdbcType=DECIMAL},
      unfulfil_reward = #{unfulfilReward,jdbcType=DECIMAL},
      task_from = #{taskFrom,jdbcType=BIGINT},
      staff = #{staff,jdbcType=VARCHAR},
      verify_time = #{verifyTime,jdbcType=INTEGER},
      appraise_rank = #{appraiseRank,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      appid = #{appid,jdbcType=VARCHAR},
      secret = #{secret,jdbcType=VARCHAR},
      " access_token" = #{accessToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      seller_id = #{sellerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>