<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qhjys.mall.mapper.VoucherInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.qhjys.mall.entity.VoucherInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="prod_id" property="prodId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="credit" property="credit" jdbcType="INTEGER" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="consume" property="consume" jdbcType="BIT" />
    <result column="consume_ip" property="consumeIp" jdbcType="VARCHAR" />
    <result column="consume_time" property="consumeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, code, user_id, store_id, prod_id, order_id, credit, expire_time, consume, consume_ip, 
    consume_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.qhjys.mall.entity.VoucherInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from voucher_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from voucher_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from voucher_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.qhjys.mall.entity.VoucherInfoExample" >
    delete from voucher_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.qhjys.mall.entity.VoucherInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into voucher_info (code, user_id, store_id, 
      prod_id, order_id, credit, 
      expire_time, consume, consume_ip, 
      consume_time)
    values (#{code,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{storeId,jdbcType=BIGINT}, 
      #{prodId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{credit,jdbcType=INTEGER}, 
      #{expireTime,jdbcType=TIMESTAMP}, #{consume,jdbcType=BIT}, #{consumeIp,jdbcType=VARCHAR}, 
      #{consumeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.qhjys.mall.entity.VoucherInfo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into voucher_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="credit != null" >
        credit,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="consume != null" >
        consume,
      </if>
      <if test="consumeIp != null" >
        consume_ip,
      </if>
      <if test="consumeTime != null" >
        consume_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="credit != null" >
        #{credit,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consume != null" >
        #{consume,jdbcType=BIT},
      </if>
      <if test="consumeIp != null" >
        #{consumeIp,jdbcType=VARCHAR},
      </if>
      <if test="consumeTime != null" >
        #{consumeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.qhjys.mall.entity.VoucherInfoExample" resultType="java.lang.Integer" >
    select count(*) from voucher_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update voucher_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.storeId != null" >
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
      <if test="record.prodId != null" >
        prod_id = #{record.prodId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.credit != null" >
        credit = #{record.credit,jdbcType=INTEGER},
      </if>
      <if test="record.expireTime != null" >
        expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.consume != null" >
        consume = #{record.consume,jdbcType=BIT},
      </if>
      <if test="record.consumeIp != null" >
        consume_ip = #{record.consumeIp,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeTime != null" >
        consume_time = #{record.consumeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update voucher_info
    set id = #{record.id,jdbcType=BIGINT},
      code = #{record.code,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      store_id = #{record.storeId,jdbcType=BIGINT},
      prod_id = #{record.prodId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      credit = #{record.credit,jdbcType=INTEGER},
      expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
      consume = #{record.consume,jdbcType=BIT},
      consume_ip = #{record.consumeIp,jdbcType=VARCHAR},
      consume_time = #{record.consumeTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qhjys.mall.entity.VoucherInfo" >
    update voucher_info
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="credit != null" >
        credit = #{credit,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consume != null" >
        consume = #{consume,jdbcType=BIT},
      </if>
      <if test="consumeIp != null" >
        consume_ip = #{consumeIp,jdbcType=VARCHAR},
      </if>
      <if test="consumeTime != null" >
        consume_time = #{consumeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qhjys.mall.entity.VoucherInfo" >
    update voucher_info
    set code = #{code,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      prod_id = #{prodId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      credit = #{credit,jdbcType=INTEGER},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      consume = #{consume,jdbcType=BIT},
      consume_ip = #{consumeIp,jdbcType=VARCHAR},
      consume_time = #{consumeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>