/**/
.forgetpassword{ width:1190px; margin:0 auto;font-size:15px;}
.forgetpassword .title{ border-bottom:2px solid #ddd; margin:20px 0; font-size:18px; line-height:35px; color:#333;}
.confirm-account{ width:1128px; border:1px solid #ddd; margin:0 auto; padding:30px; margin-top:20px;}
.form-field label{ width:120px; text-align:right; display:inline-block; color:#333; margin-right:15px; font-size:15px;}
.form-field{ position:relative; padding:8px 0 8px 250px;}
.form-field .f-text{border:1px solid #ccc; height:24px; line-height:24px; padding:5px; border-radius:3px;}
.form-field .account{ width:200px;}
.form-field .verify-code{ width:100px;}
.signup-captcha-img{ height:36px; vertical-align:middle; margin-left:5px;cursor:pointer;}

.confirm-account .chenggong{ text-align:center; font-size:18px;}
.confirm-account .chenggong img{ vertical-align:middle;}
.confirm-account .tishititle{ padding:0 0 30px 200px; font-size:18px;}
.confirm-account .tishititle img{ vertical-align:middle; margin-right:10px; width:60px;}
.confirm-account .tishiimg{ float:left; vertical-align:middle; margin:0 20px 0 200px; }

.confirm-title{ margin:10px 0 0 0;}
.confirm-findways{ padding:0 0 0 200px; margin:0 0 20px 0; border-bottom:1px solid #eee; height:70px;}
.confirm-findways .findimg{ float:left; display:block;  margin-right:20px; width:70px; }
.confirm-findways .findtitle{ float:left; display:block;width:400px; vertical-align:top;}
.confirm-findways .findtitle em{ font-weight:800;}
.confirm-findways .findtext{ float:left; display:block;width:200px; vertical-align:top;}
.confirm-findways-lineno{ border:0;}
.confirm-findways-next{padding:0 0 0 290px;}

/*步骤*/
.steps-bar .step--last{
	background-image:url();
	background-repeat:no-repeat
}
.steps-bar {
	margin-bottom:30px;
	font-size:0;
	line-height:0;
	background:#eee;
	border-radius:3px;
	overflow:hidden;
	white-space:nowrap;
	margin:0 auto; 
	width:1190px;
	margin-top:30px;
	height:30px;
	
}
.steps-bar .step {
	position:relative;
	display:inline-block;
	*display:inline;
	width:297px;
	font-size:14px;
	line-height:30px;
	_line-height:29px;
	text-align:center;
	color:#666;
*zoom:1;
*vertical-align:top
}
.steps-bar .step--post {
	color:#999
}
.steps-bar .step--current {
	color:#fff;
	background:#ff8900
}
.steps-bar .step--current .arrow__foreground {
	border-left-color:#ff8900
}
.steps-bar .step--last .icon--complete {
	position:absolute;
	width:17px;
	height:17px;
	top:9px;
	left:88px;
	background-position:0 -10px
}
.steps-bar .step__num {
	font-size:18px;
	font-weight:700;
	font-family:arial, sans-serif
}
.steps-bar .arrow__background, .steps-bar .arrow__foreground {
	position:absolute;
	top:0;
	_top:-1px;
	right:-15px;
	width:0;
	height:0;
	border-width:15px 0 15px 15px;
	border-style:dashed dashed dashed solid;
	border-color:transparent transparent transparent #eee;
	font-size:0;
	line-height:0;
	z-index:1
}
.steps-bar .arrow__background {
	right:-17px;
	top:-2px;
	_top:-3px;
	border-left-color:#fff;
	border-width:17px 0 17px 17px
}
.steps-bar--dark {
	background:#dedede;
}
.steps-bar--dark .arrow__foreground {
	border-color:transparent transparent transparent #dedede
}
.cf {
	zoom:1
}
.cf:after {
	content:'';
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden
}