/*list 广告*/
.list_adv{width:1100px; padding:10px 0; margin:0 auto;}
.list_adv img{width:1100px;}

/*搜索分类列表*/
.searchpro_list{ float:left; width:840px;}
.searchpro_list ul { border:1px solid #eee; padding:10px 0 15px 15px; background:#FFF; width:823px;}
.searchpro_list ul li{ float:left; width:250px; padding:15px 10px 10px 10px; height:290px;}
.searchpro_list ul li:hover{ background:#F0F0F0;}
.searchpro_list ul li img{ width:250px; height:186px;}

.searchpro_list h1,.searchpro_list h2,.searchpro_list h3{ font-weight: normal; font-size:14px; line-height:30px; height:30px; overflow:hidden;}
.searchpro_list h1 a{color:#000}
.searchpro_list h1 span{ color:#ff6639}
.searchpro_list h3{ color:#ff6639}
.searchpro_list h3 em{ font-size:22px;}
.searchpro_list h3 span{font-size:14px; color:#999; text-decoration:line-through;}
.searchpro_list h4{font-weight: normal; font-size:14px; line-height:25px;}

/*搜索选择*/
.search_top{ margin-bottom:15px;}
.search_top .jiantou{ float:left; margin:0 5px;}
.search_top .topall{}
.search_top .topall a{ display:inline-block; border:1px solid #ff8c00; height:20px; line-height:20px; padding:0 10px;}
.search_choose .close{position: relative; z-index:2; background:url(/images/ico-jt.png) no-repeat 7px -70px; margin-left:-5px;}
.search_choose .close a{ display:inline-block; border:1px solid #ff8c00; height:20px; line-height:20px; padding:0 9px; color:#FFF;}

.search_choose { position: relative;}
.search_choose .leibie{ position: relative; z-index:2;}
.search_choose .leibie a{ display:inline-block; background:#fff; background: url(/images/ico-jt.png) no-repeat right -107px #fff; border:1px solid #ff8c00; line-height:20px; height:20px; padding:0 30px 0 10px;}
.search_choose .leibie a:hover{border-left:1px solid #ff8c00; border-right:1px solid #ff8c00; border-bottom:1px solid #fff; border-top:1px solid #ff8c00;}

.search_choose .xiala{ position:absolute; z-index:0; left:0px; top:20px; border-left:1px solid #ff8c00; border-right:1px solid #ff8c00; border-bottom:1px solid #ff8c00; border-top:1px solid #ff8c00; background:#FFF; padding:10px; width:250px;}
.search_choose .xiala a{ border:0; margin:0 10px 0 0; padding:0;}
.search_choose .xiala a.current{ color:#ff8c00; font-weight:800;}


/*搜索分类*/
.search_content{width:1068px; margin:0 auto; padding:15px; border:1px solid #eeede5; background:#fff; position:relative; z-index:1;}
.search_type ul li{ border-top:1px dashed #eee; line-height:30px; padding:5px 0;}
.search_type .type1{ float:left; width:55px;}
.search_type .type2{ float:left; width:945px;}
.search_type .type3{ float:left; width:120px; text-align:right;}
.search_type .type2 a{ margin-right:15px; padding:5px;}
.search_type a.all{ background:#f6696a; color:#fff;}

.search_type .title{ margin-bottom:10px;}
.search_type .title span{ color:#ddd; font-size:10px; margin:0 3px 0 6px;}
/*搜索排序*/
.main_sortbar{ width:1098px; height:34px; margin:0 auto; border:1px solid #eee; margin-top:10px;position:relative; z-index:1;}
.main_sortbar ul li{ float:left; padding:0 20px 2px 20px; border-top:2px solid #fff; height:30px; line-height:30px; border-right:1px solid #eee;}
.main_sortbar ul li a{padding:0 0; color:#333;}
.main_sortbar ul li a:hover{ color:#f6696a;}
.main_sortbar .current{ border-top:2px solid #f6696a;}
.main_sortbar .current a{ color:#f6696a;}
.main_sortbar ul li .jiantoudown{background:url(/images/ico_prodetail.png) no-repeat 0px -227px; display:inline-block; width:7px; height:10px; vertical-align:middle; margin:0 0 0 5px; }
.main_sortbar ul li .jiantoudownred{background:url(/images/ico_prodetail.png) no-repeat 0px -246px; display:inline-block; width:7px; height:10px; vertical-align:middle; margin:0 0 0 5px;}
.main_sortbar ul li .jiantouup{background:url(/images/ico_prodetail.png) no-repeat 0px -265px; display:inline-block; width:7px; height:11px; vertical-align:middle; margin:0 0 0 5px; }
.main_sortbar ul li .jiantouupred{background:url(/images/ico_prodetail.png) no-repeat 0px -283px; display:inline-block; width:7px; height:11px; vertical-align:middle; margin:0 0 0 5px; }
.main_sortbar select{ border:0px; font-size:13px; background:none; color:#333; width:100px;
font-family:"微软雅黑", Tahoma, Geneva; *margin: -2px -2px 0 -2px; *overflow: hidden; *display: block; outline:none; resize:none}
.main_sortbarbk{border:0; overflow:hidden; *height: 22px; *line-height: 16px; margin:5px 8px 0 8px; display: inline-block;}
.main_sortbar option{ }


.sellerlist{float:left; width:840px;}
.sellerlist ul { border:1px solid #eee; padding:10px 30px 30px 30px; background:#FFF;}
.sellerlist ul li{ height:120px; padding:20px 0; border-bottom:1px solid #eee;}
.sellerlist ul li img{ float:left; width:180px; height:120px; margin-right:15px;}
.sellerlist-text{ float:left; width:575px;}
.sellerlist-text span{color:#ff6639}
.sellerlist-text h2{ text-align:right; font-size:14px;}