@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
body{font-family:"思源黑体 CN Regular","微软雅黑",'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;background-size:100%;font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
img{display:block; border:none; margin:0; }
ul,ol {list-style:none;}
.clearfix{ clear:both}

.brand-detail img{width:100%;}
