<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.qhjys.mall.mapper.FqStoreRepaymentMapper" >
  <resultMap id="BaseResultMap" type="cn.qhjys.mall.entity.FqStoreRepayment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="loan_id" property="loanId" jdbcType="BIGINT" />
    <result column="repayment_type" property="repaymentType" jdbcType="INTEGER" />
    <result column="principal" property="principal" jdbcType="DECIMAL" />
    <result column="interest" property="interest" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="repayment_time" property="repaymentTime" jdbcType="TIMESTAMP" />
    <result column="reservation_time" property="reservationTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, loan_id, repayment_type, principal, interest, status, create_time, repayment_time, 
    reservation_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.qhjys.mall.entity.FqStoreRepaymentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fq_store_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from fq_store_repayment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from fq_store_repayment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.qhjys.mall.entity.FqStoreRepaymentExample" >
    delete from fq_store_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.qhjys.mall.entity.FqStoreRepayment" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fq_store_repayment (loan_id, repayment_type, principal, 
      interest, status, create_time, 
      repayment_time, reservation_time)
    values (#{loanId,jdbcType=BIGINT}, #{repaymentType,jdbcType=INTEGER}, #{principal,jdbcType=DECIMAL}, 
      #{interest,jdbcType=DECIMAL}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{repaymentTime,jdbcType=TIMESTAMP}, #{reservationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.qhjys.mall.entity.FqStoreRepayment" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into fq_store_repayment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="repaymentType != null" >
        repayment_type,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="interest != null" >
        interest,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="repaymentTime != null" >
        repayment_time,
      </if>
      <if test="reservationTime != null" >
        reservation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loanId != null" >
        #{loanId,jdbcType=BIGINT},
      </if>
      <if test="repaymentType != null" >
        #{repaymentType,jdbcType=INTEGER},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=DECIMAL},
      </if>
      <if test="interest != null" >
        #{interest,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentTime != null" >
        #{repaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reservationTime != null" >
        #{reservationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.qhjys.mall.entity.FqStoreRepaymentExample" resultType="java.lang.Integer" >
    select count(*) from fq_store_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update fq_store_repayment
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.loanId != null" >
        loan_id = #{record.loanId,jdbcType=BIGINT},
      </if>
      <if test="record.repaymentType != null" >
        repayment_type = #{record.repaymentType,jdbcType=INTEGER},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=DECIMAL},
      </if>
      <if test="record.interest != null" >
        interest = #{record.interest,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.repaymentTime != null" >
        repayment_time = #{record.repaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reservationTime != null" >
        reservation_time = #{record.reservationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update fq_store_repayment
    set id = #{record.id,jdbcType=BIGINT},
      loan_id = #{record.loanId,jdbcType=BIGINT},
      repayment_type = #{record.repaymentType,jdbcType=INTEGER},
      principal = #{record.principal,jdbcType=DECIMAL},
      interest = #{record.interest,jdbcType=DECIMAL},
      status = #{record.status,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      repayment_time = #{record.repaymentTime,jdbcType=TIMESTAMP},
      reservation_time = #{record.reservationTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.qhjys.mall.entity.FqStoreRepayment" >
    update fq_store_repayment
    <set >
      <if test="loanId != null" >
        loan_id = #{loanId,jdbcType=BIGINT},
      </if>
      <if test="repaymentType != null" >
        repayment_type = #{repaymentType,jdbcType=INTEGER},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=DECIMAL},
      </if>
      <if test="interest != null" >
        interest = #{interest,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="repaymentTime != null" >
        repayment_time = #{repaymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reservationTime != null" >
        reservation_time = #{reservationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.qhjys.mall.entity.FqStoreRepayment" >
    update fq_store_repayment
    set loan_id = #{loanId,jdbcType=BIGINT},
      repayment_type = #{repaymentType,jdbcType=INTEGER},
      principal = #{principal,jdbcType=DECIMAL},
      interest = #{interest,jdbcType=DECIMAL},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      repayment_time = #{repaymentTime,jdbcType=TIMESTAMP},
      reservation_time = #{reservationTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>